* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #F4F4F4);
}

/* NAVBAR */
.my-logo {
  width: 40px;
}

.navbar {
  background: #EDEDED;
  padding: 18px 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

/* PUSH RIGHT SIDE */
.nav-links {
  order: 2;
  margin-left: auto;
  margin-right: 25px;
  display: flex;
}

/* LOGO */
.logo {
  order: 1;
  font-weight: 600;
  color: #494848;
}

/* LINKS */
.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #444;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #0089BB;
}

/* ICONS */
.nav-icons {
  order: 3;
  display: flex;
  align-items: center;
  gap: 18px;
  color: #494848;
}
.nav-icons i:hover:nth-child(1){
  color: #0089BB;
}
.nav-icons i {
  cursor: pointer;
}
/* SEARCH BOX (hidden) */
.search-box {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  background: #fff;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 14px;
}

/* SHOW WHEN ACTIVE */
.search-box.active {
  display: block;
}
/* CART COUNT */
.cart {
  position: relative;
}

.cart span {
  position: absolute;
  top: -8px;
  right: -10px;
  background: black;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50%;
}

.custom-link {
            color: inherit; 
            text-decoration: none; 
            cursor: pointer; 
        }

.categories, .collections {
  padding: 20px;
}
       
.categories ul, .collections ul {
            list-style-type: none;
            padding: 0;
        }
        .categories li, .collections li {
            margin: 5px 0;
            font-size: 1.2rem;
        }
        .product-section {
            padding: 40px 10%;
            text-align: center;
        }

        .product-heading {
            font-size: 30px;
            margin-bottom: 20px;
            color: #494848;
        }

        .product-image {
            width: 80%;
            max-width: 500px;
            margin-bottom: 15px;
            border-radius: 10px;
        }

        .image-gallery {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .product-caption {
            font-size: 18px;
            color: #555;
        }

        .product-price {
            font-size: 20px;
            margin-top: 10px;
            color: #007bff;
          text-align: left;
        }

        .old-price {
            text-decoration: line-through;
            font-size: 20px;
            color: #888;
        }

        .order-details {
            margin-top: 30px;
            font-size: 16px;
            color: #444;
        }

        .buttons {
            margin-top: 20px;
        }

        .button {
            padding: 12px 30px;
            margin: 10px;
            font-size: 18px;
            text-decoration: none;
            color: white;
            border-radius: 8px;
            transition: background-color 0.3s;
        }

        .square {
            background-color: #636363;
        }

        .curved {
            background-color: #25d366;
        }

        .button:hover {
          background: #0089BB;
          transform: scale(1.05);
          transition: 0.3s;
        }
/* FOOTER */
.footer {
  border-top: 1px solid #e6e0db;
  background: #F4F4F4;
  padding-top: 60px;
}

/* LAYOUT */
.footer-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  gap: 40px;
  padding-bottom: 40px;
}

/* TEXT */
.footer-col h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #494848;
}

.footer-col h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #494848;
}

.footer-col p {
  font-size: 14px;
  color: #636363;
  line-height: 1.7;
}

/* LINKS */
.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #636363;
  font-size: 14px;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #0089BB;
}

/* GALLERY */
.footer-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.footer-gallery img {
  width: 50%;
  border-radius: 6px;
}

/* COPYRIGHT */
.footer-bottom {
  border-top: 1px solid #e6e0db;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  color: #666;
}
.footer-bottom a{
  text-decoration: none;
  color: inherit;
}
.footer-bottom a:hover {
  color: #0089BB;
}
/* ================= MOBILE FIX ================= */
@media (max-width: 768px) {

  /* CONTAINER */
  .container {
    width: 92%;
  }

  /* NAVBAR */
  .nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .logo {
    order: 1;
    flex: 1;
  }

  .nav-icons {
    order: 2;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }

  .nav-links {
    order: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .nav-links a {
    margin-right: 15px;
  }
  
  /* FOOTER */
  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    gap: 20px;
  }

/* ABOUT full width */
  .footer-col:first-child {
    grid-column: span 2;
  }

/* GALLERY full width */
  .gallery-col {
    grid-column: span 2;
  }

}
